@import 'variables';

html, body {
	min-height: 100vh;
}

body {
	background-color: $text-background-color;
	overflow-wrap: break-word;

	@media (min-width: $main_width) {
		background: fixed url(bg_main.png) center bottom / cover no-repeat;
	}
}

main {
	background-color: $text-background-color;
	// Viewport height - navbar height - footer height
	min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
	color: $text-color;
	padding: .5em .5em 1em .5em;
	width: $main_width;
 	max-width: 100%;

	@media (min-width: $main_width) {
		margin: 0 auto;
		// increase padding on large screens
		padding: 0.5em 4em 1em 4em;
	}
}

td {
	padding: .25em .5em;
}

a {
	color: $link-color;
	text-decoration-thickness: 2px;

	&:hover {
		color: $text-background-color;
		background: $link-color;
		text-decoration: inherit;
	}
}

::selection {
	background: $selection-color;
}

*:focus {
	outline: red dashed 2px;
	outline-offset: 2px;
}

.mention {
  border-radius: 3px;
  font-weight: 500;
  padding: 0 2px;
  color: #687dc6;
  background-color: rgba(114, 137, 218, .15);
}