@import 'variables';

nav {
  font-family: $navbar-font;
  display: flex;
  justify-content: space-between;
  max-width: $main_width;
  height: $navbar-height;
  background-color: $background-color-200;
  margin: 0 auto;
}

.navbar-section {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1em;
  z-index: 1;
  margin: 0 1em;

  a {
    display: flex;
    align-items: center;
    height: 67%;
    margin: .25em .75em;
    font-weight: normal;
    color: $negative-link-color;
    text-underline-offset: 2px;
		text-decoration-thickness: 2px;

    &:hover{
      color: $background-color-200;
		  background: $negative-link-color;
    }

    &:focus {
      outline: $navbar-focus-color dashed 2px;
    }

    svg {
      width: 2em;
      height: 50%;
    }

    span {
      margin: .15em;
      white-space: nowrap;
    }
  }
}

.navbar-logo {
  img {
    transition: filter 0.3s ease;
    &:hover {
      filter: brightness(110%);
    }
  }
}

.navbar-hamburger {
  display: none;
}

.navbar-content {
  display: flex;
}

@media (max-width: $mobile-width) {
  #navbar-links {
    margin: 0;
    position: absolute;
    flex-direction: column;
    background-color: #0d0d13;
    width: 100%;
    align-items: center;
    top: 4em;
    padding: 1.25em;
    height: auto;

    a {
      font-size: 1.5em;
      padding: inherit;
    }
  }

  .navbar-hamburger {
    color: $negative-text-color;
    display: block;
    padding: 1.2em;
    cursor: pointer;

    svg {
      height: 100%;
    }
  }

  .navbar-content {
    display: none;
  }
}
